.year-container {
  border: 6px solid $light-gray;
  border-radius: 12px;
  padding: 32px;
  width: 500px;

  .content {
    width: 346px;
  }

  .save {
    font-family: "proxima_nova_semibold";
    font-size: 40px;
    line-height: 125%;
    color: $darkest-gray;
    margin-bottom: 32px;
  }

  .price {
    font-size: 28px;
    margin-bottom: 24px;
    .strike {
      color: $light-gray;
      text-decoration: line-through;
    }
  }

  .details {
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 150%;
  }

}

