@import 'reset';
@import 'fonts';
@import 'colors';

body {
  font-family: "proxima_nova_light";
}

@import 'button';
@import 'month-container';
@import 'year-container';

.primary-container {
  display: flex;
  margin: 32px;
}

@media (max-width: 720px) {
  .primary-container {
    flex-direction: column;
    align-items: center;
  }
}
